:root{
  --black:#000000;

}


*,
*:before,
*:after {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--black);
  border: red solid 2px;
}

main {
  width: 100%;
  /* border: red solid 2px; */
  display: flex;
  flex-direction: column;
  align-items: center;

}


.box {
  display: flex;
  justify-content: center;
  width: 60%;
  /* border: rgb(17, 218, 67) solid 2px; */
}

.box .eye {
  position: relative;
  width: 12rem;
  height: 12rem;
  display: block;
  background: #fff;
  margin: 0 20px;
  border-radius: 50%;
  box-shadow: 0 5px 45px rgba(35, 156, 51, 0.2), inset 0 0 15px #f21e1e,
    inset 0 0 15px #f51c15;
  /* background-image: url(./madara\ ethernal.svg);
      background-repeat: no-repeat;
      background-position: center; */
}

.box .eye::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* background: #3c17c2; */
  /* border: 10px solid #2196f3; */
  background-image: url(./madara\ ethernal.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.eyelid {
  /* border: red solid 2px; */
}


.box-t, .box-b{
  width: 100%;
  height: 12rem;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  /* border: rgb(55, 0, 255) solid 2px; */
}

.box-t {
  background-color: var(--black);

}

.box-b {
  background-color: var(--black);
}

/* .box-t:hover {
  transition: 0.5s;
  transform: translate(0rem, 6rem);
} */

/* .box-b:hover {
  transition: 0.5s;
  transform: translate(0rem, -6rem);
} */

