
:root{
    --blanco:#fff;
    --oscuro:#212121;
    --primario: #ffc107;
    --secundario:#0097a7;
    --gris:#757575;
    --grisClaro:#DFE9F3;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%; /* Esto es para que 1 rem en vez de ser 16 px, sean 10px, facilita la conversión rápida */
    
}

*{
    list-style: none;
}

.bod{
 font-size: 1.7rem;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, 0%, var(--grisClaro) 100%);
    /* background-color: #efefefef; */
    background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
}

