
/* Ayuda al resteo de la página */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */



:root{
    --blanco:#fff;
    --oscuro:#212121;
    --primario: #ffc107;
    --secundario:#0097a7;
    --gris:#757575;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html{
    font-size: 62.5%; /* Esto es para que 1 rem en vez de ser 16 px, sean 10px, facilita la conversión rápida */
}

*{
    list-style: none;
}

.bod{
 font-size: 1.7rem;
    font-family: 'Krub', sans-serif;
    background-color: #efefefef;
}

.titulo{
    text-align: center;
    font-size: 3rem;
}
.titulo span{
    font-size: 1.2rem;
}

.nav-bg{
    background-color: var(--secundario);
}

.contenedor{
    margin: 0 auto;
}

.navegacion-principal{
    height: 4rem;
    display: flex;
    text-align: center;
}

.navegacion-principal ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.navegacion-principal ul li a{ 
    font-weight: bold;
    color:var(--blanco);
    text-decoration: none;
    padding: 1rem;
}

.navegacion-principal ul li a:hover{
    background-color: var(--primario);
    color: var(--oscuro)
}

.fondo-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hero.jpg");
    background-repeat: no-repeat;
    height: 35rem;
}

.fondo-hero h2, .fondo-hero h3{
    color:var(--blanco);
    font-weight: bold;
}

.contenido-hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.8); */
    width: 100%;
    height: 100%;
}

.contenido-hero h2, button, div{
    text-align: center;
    /* border: 2px solid red; */
}

.contenido-hero div{
    /* border: red solid 2px; */
}

.diseño{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}

.icon-ana{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 33%;
}

.icon-ana svg {
    height: 4rem;
}

.icon-ana div h3{
    height: 4rem;
}

.icon-ana h3 {
   font-size: 1.2rem;
   margin-top: 2em;
   /* border: blue 2px solid; */
}

.contact{
    height: 33%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* border: 2px red solid; */
}

.contact button{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 0.8rem 2.6rem;
    border-radius: 0.8rem;
    font-weight:bold;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 5%;
    border-radius: 0.8rem;
    background-color: var(--blanco);
    /* border: red solid 1px; */
    box-shadow: 0.1rem 5px 10px 0px var(--gris);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50rem;
    /* border: rgb(97, 26, 190) solid 1px; */
    /* background-color: aqua; */
}


.main h2{
    margin-top: 3.5rem;
    font-size: 3rem;

    font-weight:1000;
}

.services{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /* border: solid red 2px; */
}

.titu-h3{
    color: var(--secundario);
    font-weight: 400;
}


.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: 1PX chartreuse SOLID; */
    width: 33%;
}

.service h3{
    height: 10%;
    /* border: red 1px solid; */
}

.service svg{
    height: 70%;
    /* border: red 1px solid; */
}

.service p{
    height: 20%;
    margin: 2rem;
    /* border: red 1px solid; */
}

.locale-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffc107;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
}

.pack-iconos{
    /* height: 16rem; */
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid blue; */
}

.form-zone{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.formulario{
    width: 50%;
    height: 50rem;
    border: solid red 2px;
}

.formulario fieldset{
    margin-top: 2rem;
    border: transparent;
}







/* FORMATO DE MOVIL */

@media (max-width:768px){



.navegacion-principal {
    height: 12rem;
    display: flex;
    text-align: center;
    /* border: solid red 2px; */
}
    
.navegacion-principal ul{
    width: 100%;
    flex-direction: column;
    /* border: solid red 2px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
}
